@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #666666;
}

.navbar-light .navbar-brand {
    color: #fff !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff !important;
}

/* Header */
header {
    background: #0088CC;
    color: #fff;
    padding: 5px;
}

header a {
    color: #fff;
    transition: .6s;
}

header a:hover {
    color: #f5f5f5;
}

footer {
    background: #f5f5f5;
    padding: 5px;
}
